@model MoveEstimator.Models.SearchViewModel

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
	<table>
		<tr>
			<td>@Html.DropDownListFor(model => model.FromLocationId, new SelectList(Model.Locations, "Id", "Name", Model.FromLocationId), "From Location")</td>
			<td>@Html.DropDownListFor(model => model.ToLocationId, new SelectList(Model.Locations, "Id", "Name", Model.ToLocationId), "To Location")</td>
			<td><input type="submit" value="search" /></td>
		</tr>
	</table>
}