@model IEnumerable<MoveEstimator.Models.EstimateViewModel>

<h2>Estimates</h2>

<p>@ViewData["FromSearch"]</p>

@*@Html.Partial("_estimateSearchForm", Model.FirstOrDefault())*@

<hr />

@foreach (var estimate in Model)
{
	@Html.Partial("_estimateForm", estimate)
}